* {
font-family: 'josefine', sans-serif;
}

/* Navigationsleiste */
.nav {
width: 100%;
height: 200px;
position: fixed;
background-color: white;
z-index: 1;
}

div.logo img  {

height: 100px;
position: fixed;
padding-top: 50px;
float:left;
left: 10%;
}

ul#navigation {

padding-top: 80px;
right:120px;
position: fixed;
text-align: right;
text-transform: lowercase;
}

li, a {
display: inline-block;
font-weight: bold;
font-size: 25px;
text-indent: 50px;
color: black;
text-decoration: none;
}

a:hover {
color: tomato;
}
span {
color:tomato;
}

/* Container */

.container, .cv{

width: 90%;
margin-left: auto;
margin-right: auto;
padding-top: 220px;
}


/* About */

.grafik img {

width: 250px;
left: 150px;
padding-top: 230px;
position: fixed;
}


.Lebenslauf {

width: 600px;
margin-left: 520px;
}

.Lebenslauf p {

 line-height: 20px;
}

.cv img {

width: 280px;
float:left;
position: fixed;
padding-left: 100px;
padding-right: 100px;

}


div.about {

width: 420px;
height: 200px;
font-size: 17px;
text-align: justify;
margin-left: auto;
margin-right: 240px;
padding-top: 350px;
line-height: 25px;
}

.contact {
margin-top: 100px;
}

.contact h2,
.contact p {

width: 100%;
margin-left: auto;
margin-right: auto;
text-align: center;
position:relative;
font-size: 17px;
}

h2 {

color: tomato;
font-size: 20px;
font-weight: normal;

}

/* work: Projektboxen*/

.box1 , .box2, .box3,
.box4, .box5, .box6 {

filter: grayscale(100%);
height:270px;
background-size: cover;
width: 270px;
float:left;
margin: 50px;

}

.box1 {

background-image: url("images/Baer.jpg");
background-position: center;

}

.box2 {

background-image: url("images/Litauen.png");
background-position: bottom;

}

.box3 {
background-position: 300px;
background-image: url("images/Meer_Bilder/Meer_Titelbild.jpg");
}

.box4 {
background-position: center;
background-image: url("images/ToDoApp/Login_Screen-05.png");
}

.box5 {
background-position: center;
background-image: url("images/collage/collage2.jpg");
}

.box6 {
background-position: center;
background-image: url("images/Herzen.png");
}


.box1 a,
.box2 a,
.box3 a,
.box4 a,
.box5 a,
.box6 a
{

opacity: 0;
width: 270px;
height: 270px;
text-align: center;
font-size: 30px;
text-indent: 0px;
padding-top: 100px;
font-style: italic;
font-weight: 100;

}

/* Mouse-Hover Projektboxen */

.box1 a:hover,
.box2:hover,
.box2 a:hover,
.box3:hover,
.box3 a:hover,
.box4:hover,
.box4 a:hover,
.box5:hover,
.box5 a:hover,
.box6:hover,
.box6 a:hover
{
color: black;
opacity: 100;
background-color:rgba(255, 255, 255, 0.30);
filter: grayscale(0%);
filter:none;
}

/* Projektbilder */

.ToDoApp img,
.Bear img,
.Litauen img {

margin-left: 25%;
margin-right: auto;
display: block;
margin-bottom: 30px;
}

.Bear img, .hearts img{
width: 450px;
padding-left: 80px;
}

.Litauen img, .ToDoApp img{

height: 400px;
box-shadow: 5px 5px 5px grey;

}

.seaside, .collage, .hearts{
width: 80%;
margin-left: 200px;
margin-right: 40px;
}

.seaside img  {
display: inline-block;
width: 70%;
padding: 20px;

}

.collage img {
  float: left;
  height: 400px;
  padding: 50px;

}

.button-back img{

width: 40px;
position: fixed;
left: 12%;
text-align: center;
text-indent: 0px;
padding-top: 0;
font-size: 10px;

}

/* Responsive Navileiste*/

@media screen and (max-width: 800px){

li, a {
display:block;
font-size: 20px;
text-indent: 50px;
}

div.logo img  {
height: 70px;
left: 5%;
}

ul#navigation {
padding-top: 50px;
right:50px;
}


body {
background: white;
}
